<!DOCTYPE <!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>About Me</h1>
    <div class="main-content">
        {{>header}}
        <p>This website created by Nitesh Bagle. It uses data from mapbox.com and darksky.net</p>
        <img src="/img/nature.jpeg" class="portrait">
    </div>
    {{>footer}}
</body>
</html>