<!DOCTYPE <!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <h1>Help Page</h1>
        <div class="main-content">
            {{>header}}
            <img src="/img/nature.jpeg" class="portrait">
        </div>
    {{>footer}}
</body>
</html>